/node_modules
/public/hot
/public/storage
/public/vendor
/public/css
/public/js
/storage/*.key
/vendor
/resources/views/vendor
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
